body {
	font-family: sans-serif;
	color: white;
	background-color: #424242;
}
body h1 {
	font-size: 7em;
}
body video {
	margin: 0;
}

.title {
	font-family: fantasy;
}

@media only screen and (min-width:1000px) {
	body h1 {
		font-size: 2em;
	}
}