body {
	font-family: monaco;
	color: white;
	background-color: #424242;
}
body h1 {
	font-size: 4em;
}
body video {
	margin: 0;
}

.title {
	font-family: fantasy;
}

/* Computer Styles */
@media only screen and (min-width:800px) {
	body h1 {
		font-size: 2em;
	}
}